a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%; }

html,
body {
  height: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block; }

b,
strong {
  font-weight: bold; }

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

ul,
ol {
  list-style: none; }

li {
  display: list-item; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left; }

q {
  quotes: none; }

q:before,
q:after {
  content: "";
  content: none; }

sub,
sup,
small {
  font-size: 75%; }

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

svg {
  overflow: hidden; }

@media screen and (max-width: 400px) {
  @-ms-viewport {
    width: 320px; } }
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.grid-container:before, .back-navigation-2:before, .clearfix:before,
.grid-container:after,
.back-navigation-2:after,
.clearfix:after {
  content: ".";
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0; }

.grid-container:after, .back-navigation-2:after, .clearfix:after {
  clear: both; }

.grid-container, .back-navigation-2, .clearfix {
  /* <IE7> */
  *zoom: 1;
  /* </IE7> */ }

.grid-container, .back-navigation-2 {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 10px;
  padding-right: 10px; }

.grid-5, .mobile-grid-5, .grid-10, .mobile-grid-10, .grid-15, .mobile-grid-15, .grid-20, .mobile-grid-20, .grid-25, .mobile-grid-25, .grid-30, .mobile-grid-30, .grid-35, .mobile-grid-35, .grid-40, .back-navigation-2, .about-igor article, .mobile-grid-40, .grid-45, .mobile-grid-45, .grid-50, .mobile-grid-50, .grid-55, .mobile-grid-55, .grid-60, .about-jyvasvit article, .mobile-grid-60, .grid-65, .mobile-grid-65, .grid-70, .about-igor article .img-container, .mobile-grid-70, .grid-75, .mobile-grid-75, .grid-80, .mobile-grid-80, .grid-85, .mobile-grid-85, .grid-90, .mobile-grid-90, .grid-95, .mobile-grid-95, .grid-100, .mobile-grid-100, .grid-33, .mobile-grid-33, .grid-66, .mobile-grid-66 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  /* <IE7> */
  *padding-left: 0;
  *padding-right: 0;
  /* </IE7> */ }
  .grid-5 > *, .mobile-grid-5 > *, .grid-10 > *, .mobile-grid-10 > *, .grid-15 > *, .mobile-grid-15 > *, .grid-20 > *, .mobile-grid-20 > *, .grid-25 > *, .mobile-grid-25 > *, .grid-30 > *, .mobile-grid-30 > *, .grid-35 > *, .mobile-grid-35 > *, .grid-40 > *, .back-navigation-2 > *, .about-igor article > *, .mobile-grid-40 > *, .grid-45 > *, .mobile-grid-45 > *, .grid-50 > *, .mobile-grid-50 > *, .grid-55 > *, .mobile-grid-55 > *, .grid-60 > *, .about-jyvasvit article > *, .mobile-grid-60 > *, .grid-65 > *, .mobile-grid-65 > *, .grid-70 > *, .about-igor article .img-container > *, .mobile-grid-70 > *, .grid-75 > *, .mobile-grid-75 > *, .grid-80 > *, .mobile-grid-80 > *, .grid-85 > *, .mobile-grid-85 > *, .grid-90 > *, .mobile-grid-90 > *, .grid-95 > *, .mobile-grid-95 > *, .grid-100 > *, .mobile-grid-100 > *, .grid-33 > *, .mobile-grid-33 > *, .grid-66 > *, .mobile-grid-66 > * {
    /* <IE7> */
    *margin-left: expression((!this.className.match(/grid-[1-9]/) && this.currentStyle.display === "block" && this.currentStyle.width === "auto") && "10px");
    *margin-right: expression((!this.className.match(/grid-[1-9]/) && this.currentStyle.display === "block" && this.currentStyle.width === "auto") && "10px");
    /* </IE7> */ }

.grid-parent {
  padding-left: 0;
  padding-right: 0; }

.grid-100:before,
.grid-100:after {
  content: ".";
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0; }

.grid-100:after {
  clear: both; }

.grid-100 {
  /* <IE7> */
  *zoom: 1;
  /* </IE7> */ }

.push-5, .pull-5, .push-10, .pull-10, .push-15, .pull-15, .push-20, .pull-20, .push-25, .pull-25, .push-30, .pull-30, .push-35, .pull-35, .push-40, .pull-40, .push-45, .pull-45, .push-50, .pull-50, .push-55, .pull-55, .push-60, .pull-60, .push-65, .pull-65, .push-70, .pull-70, .about-igor article .img-container, .push-75, .pull-75, .push-80, .pull-80, .push-85, .pull-85, .push-90, .pull-90, .push-95, .pull-95, .push-33, .pull-33, .push-66, .pull-66 {
  position: relative; }

.hide-on-desktop {
  display: none !important; }

.grid-5 {
  float: left;
  width: 5%;
  /* <IE7> */
  *width: expression(Math.floor(0.05 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.prefix-5 {
  margin-left: 5%; }

.suffix-5 {
  margin-right: 5%; }

.push-5 {
  left: 5%;
  /* <IE7> */
  *left: expression(Math.floor(0.05 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.pull-5 {
  left: -5%;
  /* <IE7> */
  *left: expression(Math.floor(-0.05 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.grid-10 {
  float: left;
  width: 10%;
  /* <IE7> */
  *width: expression(Math.floor(0.1 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.prefix-10 {
  margin-left: 10%; }

.suffix-10 {
  margin-right: 10%; }

.push-10 {
  left: 10%;
  /* <IE7> */
  *left: expression(Math.floor(0.1 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.pull-10 {
  left: -10%;
  /* <IE7> */
  *left: expression(Math.floor(-0.1 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.grid-15 {
  float: left;
  width: 15%;
  /* <IE7> */
  *width: expression(Math.floor(0.15 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.prefix-15 {
  margin-left: 15%; }

.suffix-15 {
  margin-right: 15%; }

.push-15 {
  left: 15%;
  /* <IE7> */
  *left: expression(Math.floor(0.15 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.pull-15 {
  left: -15%;
  /* <IE7> */
  *left: expression(Math.floor(-0.15 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.grid-20 {
  float: left;
  width: 20%;
  /* <IE7> */
  *width: expression(Math.floor(0.2 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.prefix-20, .about-jyvasvit article {
  margin-left: 20%; }

.suffix-20, .back-navigation-2, .about-igor article, .about-jyvasvit article {
  margin-right: 20%; }

.push-20 {
  left: 20%;
  /* <IE7> */
  *left: expression(Math.floor(0.2 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.pull-20 {
  left: -20%;
  /* <IE7> */
  *left: expression(Math.floor(-0.2 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.grid-25 {
  float: left;
  width: 25%;
  /* <IE7> */
  *width: expression(Math.floor(0.25 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.prefix-25 {
  margin-left: 25%; }

.suffix-25 {
  margin-right: 25%; }

.push-25 {
  left: 25%;
  /* <IE7> */
  *left: expression(Math.floor(0.25 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.pull-25 {
  left: -25%;
  /* <IE7> */
  *left: expression(Math.floor(-0.25 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.grid-30 {
  float: left;
  width: 30%;
  /* <IE7> */
  *width: expression(Math.floor(0.3 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.prefix-30 {
  margin-left: 30%; }

.suffix-30 {
  margin-right: 30%; }

.push-30 {
  left: 30%;
  /* <IE7> */
  *left: expression(Math.floor(0.3 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.pull-30 {
  left: -30%;
  /* <IE7> */
  *left: expression(Math.floor(-0.3 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.grid-35 {
  float: left;
  width: 35%;
  /* <IE7> */
  *width: expression(Math.floor(0.35 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.prefix-35 {
  margin-left: 35%; }

.suffix-35 {
  margin-right: 35%; }

.push-35 {
  left: 35%;
  /* <IE7> */
  *left: expression(Math.floor(0.35 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.pull-35 {
  left: -35%;
  /* <IE7> */
  *left: expression(Math.floor(-0.35 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.grid-40, .back-navigation-2, .about-igor article {
  float: left;
  width: 40%;
  /* <IE7> */
  *width: expression(Math.floor(0.4 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.prefix-40, .back-navigation-2, .about-igor article {
  margin-left: 40%; }

.suffix-40 {
  margin-right: 40%; }

.push-40 {
  left: 40%;
  /* <IE7> */
  *left: expression(Math.floor(0.4 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.pull-40 {
  left: -40%;
  /* <IE7> */
  *left: expression(Math.floor(-0.4 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.grid-45 {
  float: left;
  width: 45%;
  /* <IE7> */
  *width: expression(Math.floor(0.45 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.prefix-45 {
  margin-left: 45%; }

.suffix-45 {
  margin-right: 45%; }

.push-45 {
  left: 45%;
  /* <IE7> */
  *left: expression(Math.floor(0.45 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.pull-45 {
  left: -45%;
  /* <IE7> */
  *left: expression(Math.floor(-0.45 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.grid-50 {
  float: left;
  width: 50%;
  /* <IE7> */
  *width: expression(Math.floor(0.5 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.prefix-50 {
  margin-left: 50%; }

.suffix-50 {
  margin-right: 50%; }

.push-50 {
  left: 50%;
  /* <IE7> */
  *left: expression(Math.floor(0.5 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.pull-50 {
  left: -50%;
  /* <IE7> */
  *left: expression(Math.floor(-0.5 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.grid-55 {
  float: left;
  width: 55%;
  /* <IE7> */
  *width: expression(Math.floor(0.55 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.prefix-55 {
  margin-left: 55%; }

.suffix-55 {
  margin-right: 55%; }

.push-55 {
  left: 55%;
  /* <IE7> */
  *left: expression(Math.floor(0.55 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.pull-55 {
  left: -55%;
  /* <IE7> */
  *left: expression(Math.floor(-0.55 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.grid-60, .about-jyvasvit article {
  float: left;
  width: 60%;
  /* <IE7> */
  *width: expression(Math.floor(0.6 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.prefix-60 {
  margin-left: 60%; }

.suffix-60 {
  margin-right: 60%; }

.push-60 {
  left: 60%;
  /* <IE7> */
  *left: expression(Math.floor(0.6 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.pull-60 {
  left: -60%;
  /* <IE7> */
  *left: expression(Math.floor(-0.6 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.grid-65 {
  float: left;
  width: 65%;
  /* <IE7> */
  *width: expression(Math.floor(0.65 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.prefix-65 {
  margin-left: 65%; }

.suffix-65 {
  margin-right: 65%; }

.push-65 {
  left: 65%;
  /* <IE7> */
  *left: expression(Math.floor(0.65 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.pull-65 {
  left: -65%;
  /* <IE7> */
  *left: expression(Math.floor(-0.65 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.grid-70, .about-igor article .img-container {
  float: left;
  width: 70%;
  /* <IE7> */
  *width: expression(Math.floor(0.7 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.prefix-70 {
  margin-left: 70%; }

.suffix-70 {
  margin-right: 70%; }

.push-70 {
  left: 70%;
  /* <IE7> */
  *left: expression(Math.floor(0.7 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.pull-70, .about-igor article .img-container {
  left: -70%;
  /* <IE7> */
  *left: expression(Math.floor(-0.7 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.grid-75 {
  float: left;
  width: 75%;
  /* <IE7> */
  *width: expression(Math.floor(0.75 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.prefix-75 {
  margin-left: 75%; }

.suffix-75 {
  margin-right: 75%; }

.push-75 {
  left: 75%;
  /* <IE7> */
  *left: expression(Math.floor(0.75 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.pull-75 {
  left: -75%;
  /* <IE7> */
  *left: expression(Math.floor(-0.75 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.grid-80 {
  float: left;
  width: 80%;
  /* <IE7> */
  *width: expression(Math.floor(0.8 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.prefix-80 {
  margin-left: 80%; }

.suffix-80 {
  margin-right: 80%; }

.push-80 {
  left: 80%;
  /* <IE7> */
  *left: expression(Math.floor(0.8 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.pull-80 {
  left: -80%;
  /* <IE7> */
  *left: expression(Math.floor(-0.8 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.grid-85 {
  float: left;
  width: 85%;
  /* <IE7> */
  *width: expression(Math.floor(0.85 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.prefix-85 {
  margin-left: 85%; }

.suffix-85 {
  margin-right: 85%; }

.push-85 {
  left: 85%;
  /* <IE7> */
  *left: expression(Math.floor(0.85 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.pull-85 {
  left: -85%;
  /* <IE7> */
  *left: expression(Math.floor(-0.85 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.grid-90 {
  float: left;
  width: 90%;
  /* <IE7> */
  *width: expression(Math.floor(0.9 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.prefix-90 {
  margin-left: 90%; }

.suffix-90 {
  margin-right: 90%; }

.push-90 {
  left: 90%;
  /* <IE7> */
  *left: expression(Math.floor(0.9 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.pull-90 {
  left: -90%;
  /* <IE7> */
  *left: expression(Math.floor(-0.9 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.grid-95 {
  float: left;
  width: 95%;
  /* <IE7> */
  *width: expression(Math.floor(0.95 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.prefix-95 {
  margin-left: 95%; }

.suffix-95 {
  margin-right: 95%; }

.push-95 {
  left: 95%;
  /* <IE7> */
  *left: expression(Math.floor(0.95 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.pull-95 {
  left: -95%;
  /* <IE7> */
  *left: expression(Math.floor(-0.95 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.grid-33 {
  float: left;
  width: 33.33333%;
  /* <IE7> */
  *width: expression(Math.floor(0.33333 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.prefix-33 {
  margin-left: 33.33333%; }

.suffix-33 {
  margin-right: 33.33333%; }

.push-33 {
  left: 33.33333%;
  /* <IE7> */
  *left: expression(Math.floor(0.33333 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.pull-33 {
  left: -33.33333%;
  /* <IE7> */
  *left: expression(Math.floor(-0.33333 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.grid-66 {
  float: left;
  width: 66.66667%;
  /* <IE7> */
  *width: expression(Math.floor(0.66667 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.prefix-66 {
  margin-left: 66.66667%; }

.suffix-66 {
  margin-right: 66.66667%; }

.push-66 {
  left: 66.66667%;
  /* <IE7> */
  *left: expression(Math.floor(0.66667 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.pull-66 {
  left: -66.66667%;
  /* <IE7> */
  *left: expression(Math.floor(-0.66667 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
  /* </IE7> */ }

.grid-100 {
  clear: both;
  width: 100%; }

@font-face {
  font-family: PFBeauSansPro-Black;
  src: url("fonts/PFBeauSansPro-Black.ttf"); }

@font-face {
  font-family: "PFBeauSansPro Bold";
  src: url("fonts/PFBeauSansPro-Bold.ttf"); }

@font-face {
  font-family: "PFBeauSansPro Bbook";
  src: url("fonts/PFBeauSansPro-Book.ttf"); }

@font-face {
  font-family: "PFBeauSansPro Light";
  src: url("fonts/PFBeauSansPro-Light.ttf"); }

@font-face {
  font-family: "PFBeauSansPro Regular";
  src: url("fonts/PFBeauSansPro-Reg.ttf"); }

@font-face {
  font-family: "PFBeauSansPro Thin";
  src: url("fonts/PFBeauSansPro-Thin.ttf"); }

@font-face {
  font-family: "PFBeauSansPro XThin";
  src: url("fonts/PFBeauSansPro-XThin.ttf"); }

body {
  background-image: url("../assets/Header_Pattern.jpg");
  color: #16202e; }

img {
  max-width: 100%; }

button {
  background: transparent;
  outline: none;
  border: 2px solid #ffffff;
  font-family: "PFBeauSansPro Bbook";
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  width: 165px;
  padding: 15px 0;
  cursor: pointer; }

button.green {
  border-color: #75c641;
  color: #75c641; }

button.solid {
  background: #ffffff;
  color: #131a24; }

button.primary {
  font-family: "PFBeauSansPro Bold";
  font-size: 21px;
  background: #75c641;
  border-color: #75c641;
  width: 220px;
  padding: 20px; }

input {
  border: 2px solid #cacaca;
  padding: 15px;
  font: 14px Verdana;
  margin: 30px;
  background: transparent;
  color: #65686f; }

p {
  font-family: "Verdana";
  font-size: 14px;
  font-weight: normal;
  color: #65686f; }

blockquote {
  background: url("../assets/2.png") no-repeat 10px 6px;
  padding: 20px 12px 0 70px !important; }

hr.rays,
hr.rays-II {
  position: relative; }
  hr.rays:before,
  hr.rays-II:before {
    content: "";
    position: absolute;
    background: red;
    left: 0;
    right: 0;
    top: -170px;
    height: 200px;
    z-index: 2;
    overflow: visible;
    background: url("../assets/devider_1-3.svg") no-repeat center;
    background-size: cover; }

hr.rays-II:before {
  background-image: url("../assets/devider_2.svg"); }

.main-navigation .items {
  margin-top: 60px;
  font-family: "PFBeauSansPro Bbook";
  font-size: 14px;
  color: #16202e;
  text-transform: uppercase; }
.main-navigation .items a {
  color: inherit;
  text-decoration: inherit;
  margin: 0 1.5%; }

.about {
  position: relative; }
  .about h2 {
    font-family: "PFBeauSansPro Thin";
    font-size: 48px;
    font-weight: lighter;
    color: #161f2e;
    padding-left: 20px; }
  .about blockquote {
    font-family: "PFBeauSansPro Regular";
    font-size: 22px; }
  .about blockquote .subquote {
    font-family: "Verdana";
    font-size: 14px;
    color: #75c641;
    display: block; }
  .about .photo {
    background: #131a24 url("../assets/Photo_Igor_good-quality.jpg") no-repeat top center;
    height: 870px; }
  .about article:nth-child(1) {
    margin-top: 160px;
    margin-bottom: 70px; }
  .about article h5 {
    font-family: "PFBeauSansPro Regular";
    font-size: 34px;
    color: #ffffff; }
  .about article button {
    margin-top: 25px; }

.task {
  text-align: center;
  margin-top: -230px;
  padding-top: 70px;
  overflow: hidden; }
  .task h2 {
    font-family: "PFBeauSansPro Regular";
    font-size: 28px;
    color: #ffffff;
    text-transform: uppercase; }
  .task h2 .subheader {
    font-family: "PFBeauSansPro Thin";
    font-size: 34;
    color: #75c641;
    display: block; }
  .task h2 .subheader.small {
    font-family: Verdana;
    font-size: 14px;
    font-weight: normal;
    color: #65686f;
    text-transform: none; }
  .task article {
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
    text-align: center; }
  .task article h3 {
    font-family: "PFBeauSansPro Bold";
    font-size: 28px;
    text-transform: uppercase;
    color: #161f2e; }
  .task article h3 .subheader {
    font-family: "PFBeauSansPro XThin";
    font-size: 28px;
    font-weight: lighter;
    display: block; }
  .task article footer {
    margin-top: 40px; }
  .task article footer img {
    width: 100%; }
  .task article footer button {
    position: absolute;
    bottom: 40px;
    width: 200px;
    left: 50%;
    margin-left: -100px;
    z-index: 5; }
  .task article header {
    z-index: 5;
    position: relative; }
  .task .title {
    position: relative;
    margin-bottom: 80px; }
  .task .items:before,
  .task .title:before {
    content: "";
    z-index: 2;
    position: absolute;
    background: #fff;
    opacity: 0.1;
    height: 30000px;
    width: 30000px;
    border-radius: 30000px;
    left: 50%;
    top: -70px;
    margin-left: -15000px; }
  .task .items {
    position: relative;
    z-index: 4; }
  .task .items:before {
    opacity: 1;
    z-index: 1;
    border: 220px solid #fff;
    background: none repeat scroll 0% 0% transparent; }

.programs {
  padding: 90px 0; }
  .programs h2 {
    font-family: "PFBeauSansPro Regular";
    font-size: 46px;
    text-align: center;
    color: #65686f;
    position: relative;
    margin-bottom: 100px; }
  .programs h2 .subheader {
    font-family: "Verdana";
    font-size: 14px;
    text-align: left;
    font-weight: normal;
    position: absolute;
    top: 0px;
    width: 300px;
    left: 50%;
    margin-left: 160px; }
  .programs .item {
    text-align: center;
    height: 220px; }
  .programs .item img {
    margin-bottom: 30px; }
  .programs .item h4 {
    font-family: "Verdana";
    font-size: 14px;
    font-weight: normal;
    color: #16202e; }
  .programs .offer {
    font-family: "Verdana";
    font-size: 14px;
    font-weight: normal;
    color: #16202e;
    text-align: center;
    margin-top: 20px; }
  .programs .offer button {
    margin: 20px 0; }

.how-it-works {
  background-color: #f4f3ea;
  border-top: 1px solid transparent; }
  .how-it-works h2 {
    font-family: "PFBeauSansPro Regular";
    font-size: 46px;
    text-align: center;
    color: #65686f; }
  .how-it-works .title {
    margin-top: 140px;
    margin-bottom: 90px; }
  .how-it-works .item header {
    text-align: center; }
  .how-it-works .item header h4 {
    font-family: "PFBeauSansPro Regular";
    font-size: 28px;
    color: #75c641;
    margin: 32px auto; }
  .how-it-works .item p {
    font-family: "Verdana";
    font-size: 14px;
    font-weight: normal;
    color: #16202e; }
  .how-it-works .item a {
    font-family: "Verdana";
    font-size: 14px;
    font-weight: normal;
    color: #75c641; }
  .how-it-works .points {
    padding-bottom: 170px; }

.feedback .invite {
  background-color: #131a24;
  text-align: center;
  padding: 90px 0; }
.feedback h2 {
  font-family: "PFBeauSansPro Regular";
  font-size: 46px;
  text-align: center;
  color: #ffffff; }
.feedback h3 {
  font-family: "PFBeauSansPro Regular";
  font-size: 46px;
  text-align: center;
  color: #58595b; }
.feedback h3 .subheader {
  font-family: "Verdana";
  font-size: 14px;
  font-weight: normal;
  color: #58595b;
  display: block; }
.feedback em {
  color: #75c641;
  font-variant: normal;
  font-style: normal; }
.feedback .contacts {
  padding-top: 90px;
  padding-bottom: 90px; }
.feedback .contact {
  font-family: "PFBeauSansPro Light";
  font-weight: lighter;
  font-size: 28px;
  color: #000;
  margin-top: 60px; }
.feedback .contact img {
  float: left;
  margin-right: 30px; }

.main-footer {
  background: #131a24; }
  .main-footer h3 {
    font-family: "PFBeauSansPro Bbook";
    font-weight: normal;
    font-size: 14px;
    color: #75c641;
    text-decoration: underline;
    text-transform: uppercase; }
  .main-footer article {
    text-align: center; }
  .main-footer footer {
    background: #0d1219;
    padding: 23px 0; }
  .main-footer .partners article {
    margin: 60px auto; }

.back-navigation {
  position: fixed;
  left: 0px;
  width: 120px;
  top: 0px;
  bottom: 0px;
  cursor: pointer;
  background: url("../assets/back.png") no-repeat center 20px #1f252f; }

.back-navigation-2 {
  position: relative;
  padding-left: 80px;
  left: -80px;
  background: url("../assets/back-2.png") no-repeat 0px center;
  font-family: "PFBeauSansPro Light";
  font-size: 28px;
  color: #161f2e;
  text-transform: uppercase;
  line-height: 2.5; }

.poster {
  background-color: #dbcdbd;
  text-align: center;
  overflow: hidden;
  margin-left: 120px; }
  .poster h2 {
    font-family: "PFBeauSansPro XThin";
    font-size: 60px;
    margin: -150px auto 59px;
    width: 480px;
    background-color: rgba(28, 30, 40, 0.7);
    z-index: 2;
    position: relative;
    color: white;
    text-align: center;
    padding: 10px 0; }
  .poster img {
    width: 100%; }

.about-igor h3 {
  font-family: "PFBeauSansPro Regular";
  font-size: 22px;
  color: #161f2e; }
.about-igor article {
  position: relative;
  margin-bottom: 35px; }
  .about-igor article .img-container {
    position: absolute;
    text-align: right; }
    .about-igor article .img-container img {
      max-height: 70px; }
.about-igor .video {
  font-size: 18px;
  text-transform: uppercase; }

.about-jyvasvit section h1.first {
  background: url("../assets/3.png") no-repeat left top; }
.about-jyvasvit section h1.second {
  background: url("../assets/4.png") no-repeat left top; }
.about-jyvasvit section h1.third {
  background: url("../assets/5.png") no-repeat left top; }
.about-jyvasvit section h1.fourth {
  background: url("../assets/6.png") no-repeat left top; }
.about-jyvasvit .poster h2 {
  color: #131a24;
  background-color: rgba(255, 255, 255, 0.7); }
.about-jyvasvit article h1 {
  font-family: "PFBeauSansPro Regular";
  font-size: 28px;
  padding-left: 70px;
  margin-left: -70px;
  margin-bottom: 30px; }
.about-jyvasvit article h1 .subheader {
  font-family: "PFBeauSansPro XThin";
  display: block; }
.about-jyvasvit article h2 {
  color: #75c641;
  font-family: "PFBeauSansPro Light";
  font-size: 28px;
  font-weight: 100; }
.about-jyvasvit article {
  position: relative;
  margin-bottom: 35px; }
  .about-jyvasvit article .item {
    margin-top: 40px; }
  .about-jyvasvit article .item img {
    margin: 10px 0; }
.about-jyvasvit ul {
  font-family: "Verdana";
  font-size: 14px;
  font-weight: normal;
  color: #65686f; }
.about-jyvasvit li {
  list-style: outside; }
